.name {
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: $black;
}

.description {
  font-size: 14px;

  p {
    font-size: 14px;
  }

  a {
    text-decoration: underline;
    font-weight: 700;
  }
}

.profile {
  position: relative;

  img {
    filter: grayscale(100%);
  }
}

.name {
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
  color: $black;
}

.title {
  padding-top: 6px;
  @media(min-width: 1024px) {
  color: #DCDCDC;
  }
}