.name {
  margin: 1.5rem 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: $black;
}

.description {
  font-size: 1.4rem;

  p {
    font-size: 1.4rem;
  }

  a {
    text-decoration: underline;
    font-weight: 700;
  }
}

.profile {
  position: relative;

  img {
    filter: grayscale(100%);
  }
}

.name {
  margin: 1.5rem 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: $black;
}

.title {
  padding-top: .6rem;
  @media(min-width: 1024px) {
  color: #DCDCDC;
  font-size: 1.8rem;
  }
}