.whitelabel {
  position: relative;
  padding: 100px 0 75px 0;
  text-align: center;
  @media (min-height: $screen-lg-height) and (min-width: $screen-md-min) {
    min-height: 100vh;
  }
  @media(min-width: 1024px) {
    margin-left: auto;
    margin-right: auto;
    width: 994px;
    padding-top: 70px;
  }

  @media (min-width: $screen-md-min) {
    background-color: #01031e;
    background-image: url('../../img/ellipse.svg');
    background-position: -135vh -93vh;
    background-size: 150%;
    background-repeat: no-repeat;
  }
}